Source: org.openscada.p2.bin
Maintainer: Jens Reimann <ctron@dentrassi.de>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>=8), dh-python

Package: org.openscada.p2.bin
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, p2director
Description: openSCADA P2 bin package
 The P2 bin openSCADA package
