Source: org.openscada.p2.bin
Maintainer: Jens Reimann <jens.reimann@th4-systems.com>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>=8)

Package: org.openscada.p2.bin
Architecture: all
Depends: ${misc:Depends}, python, p2director
Description: openSCADA P2 bin package
 The P2 bin openSCADA package
