Source: org.openscada.p2.sample.master
Maintainer: Jens Reimann <jens.reimann@th4-systems.com>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>=8)

Package: org.openscada.p2.sample.master
Architecture: all
Depends: ${misc:Depends}, org.openscada.p2.bin, org.openscada.p2.profiles, org.openscada, postgresql-9.1
Description: Sample setup for master server
 This is a sample server setup for the openSCADA master server configuration.
 This installation makes some assumptions and only is used for demonstrating
 how to set it up and for testing purposes.
