Source: org.openscada
Maintainer: Jens Reimann <ctron@dentrassi.de>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>=8)

Package: org.openscada
Architecture: all
Depends: ${misc:Depends}, java-runtime-headless, adduser
Description: openSCADA base package
 The base openSCADA package
