Source: org.openscada.p2.repo.main
Maintainer: Jens Reimann <jens.reimann@th4-systems.com>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>=8)

Package: org.openscada.p2.repo.main
Architecture: all
Depends: ${misc:Depends}, org.openscada.p2.bin
Description: openSCADA P2 main repositories
 The openSCADA repositories: external, aurora, utgard, oxygen and atlantis 
