Source: org.openscada.bin
Maintainer: Jens Reimann <jens.reimann@th4-systems.com>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>=8)

Package: org.openscada.bin
Architecture: all
Depends: ${misc:Depends}, jsvc, org.openscada
Description: openSCADA bin package
 The bin openSCADA package
