Source: org.openscada.lib.ext
Maintainer: Jens Reimann <jens.reimann@th4-systems.com>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>=8)

Package: org.openscada.lib.ext
Architecture: all
Depends: ${misc:Depends}, org.openscada, org.openscada.bin
Description: openSCADA lib externals package
 The externals lib openSCADA package
