<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.openscada.configurator"
            name="openSCADA Configurator"/>
      <wizard
            id="org.openscada.configuration.model.presentation.ConfiguratorModelWizardID"
            name="New Configurator Model"
            class="org.openscada.configurator.project.wizard.NewConfiguratorModelWizard"
            category="org.openscada.configurator"
            icon="icons/full/obj16/ConfiguratorModelFile.gif">
         <description>Create a new openSCADA configurator model</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

</plugin>
