<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.openscada.configurator"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.openscada.configuration.model.presentation.ConfiguratorModelWizardID"
            name="%_UI_ConfiguratorModelWizard_label"
            class="org.openscada.configuration.model.presentation.ConfiguratorModelWizard"
            category="org.openscada.configurator"
            icon="icons/full/obj16/ConfiguratorModelFile.gif">
         <description>%_UI_ConfiguratorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.openscada.configuration.model.presentation.ConfiguratorEditorID"
            name="%_UI_ConfiguratorEditor_label"
            icon="icons/full/obj16/ConfiguratorModelFile.gif"
            extensions="oscm"
            class="org.openscada.configuration.model.presentation.ConfiguratorEditor"
            contributorClass="org.openscada.configuration.model.presentation.ConfiguratorActionBarContributor">
      </editor>
   </extension>
   
  <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.emf.ecore.xmi"
            file-extensions="oscm">
      </file-association>
   </extension>

</plugin>
