<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.openscada.configuration.model.presentation.ConfiguratorEditorID"
            name="%_UI_ConfiguratorEditor_label"
            icon="icons/full/obj16/ConfiguratorModelFile.gif"
            extensions="oscm"
            class="org.openscada.configuration.model.presentation.ConfiguratorEditor"
            contributorClass="org.openscada.configuration.model.presentation.ConfiguratorActionBarContributor">
      </editor>
   </extension>
   
  <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.emf.ecore.xmi"
            file-extensions="oscm">
      </file-association>
   </extension>

</plugin>
