/org.openscada
/files
/org.openscada.substvars
/org.openscada.bin
/org.openscada.bin.substvars
/org.openscada.p2.bin
/org.openscada.p2.bin.substvars
/org.openscada.p2.repo.main
/org.openscada.p2.repo.main.substvars
/org.openscada.p2.repo.eclipse
/org.openscada.p2.repo.eclipse.substvars
