/org.openscada
/files
/org.openscada.substvars
/org.openscada.bin
/org.openscada.bin.substvars
/p2director.substvars
/p2director
/p2director.postinst.debhelper
/p2director.postrm.debhelper
/p2director.prerm.debhelper
