Source: org.openscada.configuration
Maintainer: Jens Reimann <ctron@dentrassi.de>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>=8)

Package: org.openscada.configuration
Architecture: all
Depends: ${misc:Depends}, org.openscada
Description: openSCADA configuration package
 The configuration openSCADA package
