/org.openscada
/files
/org.openscada.substvars
/org.openscada.bin
/org.openscada.bin.substvars
/org.openscada.configuration
/org.openscada.configuration.substvars
/org.openscada.drivers.common
/org.openscada.drivers.common.substvars
