Source: org.openscada.drivers.common
Maintainer: Jens Reimann <jens.reimann@th4-systems.com>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>=8)

Package: org.openscada.drivers.common
Architecture: all
Depends: ${misc:Depends}, org.openscada, org.openscada.bin, org.openscada.configuration
Description: openSCADA common drivers package
 Common openSCADA drivers like OPC, JDBC, Proxy, ...
